{% load static %}
<!-- HOME -->
<div id="home">
	<!-- container -->
	<div class="container">
		<!-- home wrap -->
		<div class="home-wrap">
			<!-- home slick -->
			<div id="home-slick">
				{% for rs in products %}

				<!-- banner -->
				<div class="banner banner-1">
					<img src="{{ rs.image.url }}" alt="">
					<div class="banner-caption text-center">
						<h1 class="primary-color">{{ rs.title }}</h1>
						<h3 class="white-color font-weak">{{ rs.description }}</h3>
						<button class="primary-btn">Satın Al</button>
					</div>
				</div>
				<!-- /banner -->
				{% endfor %}
				<!-- banner -->

				<!-- /banner -->
			</div>
			<!-- /home slick -->
		</div>
		<!-- /home wrap -->
	</div>
	<!-- /container -->
</div>
<!-- /HOME -->